## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
# File to Load
vacation_data_to_load = os.path.join("..", "Vacation_Search", "WeatherPy_vacation.csv")

# 1. Import the WeatherPy_database.csv file. 
vacation_df = pd.read_csv(vacation_data_to_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Comodoro Rivadavia,AR,84.06,clear sky,-45.8667,-67.5000,Austral Hotel
1,7,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,9,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,15,Rikitea,PF,78.66,overcast clouds,-23.1203,-134.9692,People ThankYou
4,19,Faanui,PF,81.14,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [11]:
vacation_df.count()

City_ID                171
City                   171
Country                171
Max Temp               171
Current Description    171
Lat                    171
Lng                    171
Hotel Name             163
dtype: int64

In [14]:
vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Comodoro Rivadavia,AR,84.06,clear sky,-45.8667,-67.5000,Austral Hotel
1,7,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,9,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,15,Rikitea,PF,78.66,overcast clouds,-23.1203,-134.9692,People ThankYou
4,19,Faanui,PF,81.14,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...,...,...
166,636,Blackwater,AU,75.25,overcast clouds,-23.5833,148.8833,Blackwater Motor Inn
167,637,Tual,ID,82.99,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
168,644,Kattivakkam,IN,76.06,clear sky,13.2167,80.3167,Euronova Freezer
169,651,Kloulklubed,PW,82.90,light rain,7.0419,134.2556,Storyboard Beach Resort
170,662,Upata,VE,80.19,broken clouds,8.0086,-62.3989,Posada Villa Nela

In [47]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [48]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ixtapa"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ixtapa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Tomatlan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Cuajinicuilapa"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Monclova"]

In [24]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
67,227,Ixtapa,MX,75.22,clear sky,20.7,-105.2,Hotel Plaza Providencia

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_stop1, vacation_stop2, vacation_stop3, vacation_start],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,277,Tomatlan,MX,81.00,clear sky,19.9333,-105.2500,El Salvial
1,76,Cuajinicuilapa,MX,83.34,clear sky,16.4667,-98.4167,Pozo S. XVI
2,577,Monclova,MX,75.06,clear sky,26.9000,-101.4167,Hotel Royal Inn
3,227,Ixtapa,MX,75.22,clear sky,20.7000,-105.2000,Hotel Plaza Providencia

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))